html, body, p, span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 1px solid red;
}

p {
  border: 3px solid yellow;
}

span {
  border: 4px solid green;
  vertical-align: bottom;
}