html, body {
  padding:0;
  margin: 0;
}

html{border: 1px solid red;}

body {border: 1px solid pink;
  display: flex;
}

div {
  border: 1px dotted green;
  height: 100px;
  width: 400px;
  flex-basis: auto;
  /*flex-basis: 400px;*/
  /*flex-basis: 33%*/
}

.flex1 {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex2 {
  flex-grow: 8;
  flex-shrink: 8;
}