div {
  padding: 10px;
  height: 100px;
  width: 100px;
}

.b {
  background-color: red;
}

.i {
  /* margin wont work */
  /*margin-top: 100px;*/
  display: inline;
  background-color: green;
}

.ib {
  display: inline-block;
  background-color: orange;
}