body{
  border: 5px groove red;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
}

#selfie {
  align-self: center;
  background-color: grey;
}

div {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 1em;
}