div {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../img/nature.jpg");
  background-position: center;
  background-repeat: no-repeat;

  /* Fixed will leave the element behind beautifully */
   background-attachment: fixed; 

  /* The page wil scroll  */
  /* background-attachment: scroll; */
}

p {
  line-height: 1.7rem;
}